<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise Tracker Microservice</title>
  <link rel="stylesheet" href="/public/style.css">
  <script src="https://kit.fontawesome.com/6aab1b61bc.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="mainNav">
    <div class="logoBackground">
      <i class="fas fa-running"></i>
    </div>
    <div class="mainTitle">
      Exercise Tracker Microservice
    </div>
  </div>
  <div class="subNav">
    <div class="subTitle">FlipTheSwitch</div>
  </div>
  <div class="container">
    <div class="app">
      <form action="/api/exercise/new-user" method="post">
        <h3>Create A New User</h3>
        <input id="usernameInput" type="text" name="username" placeholder="username">
        <input type="submit" value="Submit">
      </form>
      
    </div>
  </div>
</body>

</html>

<!--  <div class="container">
         <h1>Exercise tracker</h1>
          <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder="userId*">
            <input id="desc" type="text" name="description" placeholder="description*">
            <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
            <input type="submit" value="Submit">
          </form>
          <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
          <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
          <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
      </div> -->