@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #131513;
  font-family: "IBM Plex Mono", monospace;
}

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90px;
  background-color: #00bb00;
  font: 30px "IBM Plex Mono", monospace;
}

.mainTitle {
  padding-left: 20px;
}

.fa-running {
  position: absolute;
  left: 7px;
  top: 5px;
  color: #f6f7f9;
}

.logoBackground {
  position: absolute;
  left: 316px;
  top: 27px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
}

.subTitle {
  color: #f6f7f9;
  font: 14px "IBM Plex Mono", monospace;
}

.subNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #003b00;
}

.container {
  width: 100vw;
  height: 100vh;
}

.app {
  margin: 70px auto 0 auto;
  width: 335px;
  height: 700px;
  border-radius: 10px;
  background-color: grey;
}
