@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #131513;
  * {
    font-family: "IBM Plex Mono", monospace;
  }
  .mainNav {
    @extend .flex;
    width: 100vw;
    height: 90px;
    background-color: #00bb00;
    font-size: 30px;
    .logoBackground {
      position: relative;
      right: 25px;
      top: 2px;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background-color: black;
      .fa-running {
        position: relative;
        left: 8px;
        top: 0px;
        color: #f6f7f9;
      }
    }
    .mainTitle {
      position: relative;
      right: 30px;
      @extend .flex;
      padding-left: 20px;
      h1 {
        font-size: 30px;
      }
    }
  }
  .subNav {
    @extend .flex;
    width: 100vw;
    height: 60px;
    background-color: #003b00;
    .subTitle {
      position: relative;
      right: 10px;
      color: #f6f7f9;
      font-size: 15px;
    }
  }
  .container {
    @extend .flexColumn;
    width: 100vw;
    height: 100vh;
    .newUser {
      @extend .flex;
      flex-direction: row;
      margin-top: 60px;
      width: 100vw;
      height: 430px;
      .formWrapper {
        @extend .flexColumn;
        margin-right: 15px;
        width: 450px;
        height: 100%;
        background-color: grey;
        form {
          @extend .flexColumn;
          width: 100%;
          background-color: grey;
          .inputStyle {
            width: 180px;
            height: 30px;
          }
        }
      }
      .getLog {
        @extend .flexColumn;
        width: 450px;
        height: 100%;
        background-color: grey;
      }
    }
    .example {
      @extend .flexColumn;
      margin-top: 15px;
      width: 915px;
      height: 320px;
      background-color: grey;
    }
    h3 {
      font-size: 25px;
    }
    p {
      padding: 16px;
    }
    .infoBoxDiv {
      @extend .flex;
      margin-bottom: 10px;
      padding: 15px;
      width: 300px;
      height: 80px;
      background-color: #f7f3f3;
      line-height: 1.6;
      code {
        width: 100%;
        padding: 16px;
        font: 14px "IBM Plex Mono", monospace;
        line-height: 1.6;
      }
    }
    .highlight {
      padding: 2px 0px 1px;
      background-image: linear-gradient(
        transparent 0%,
        transparent calc(50% - 9px),
        rgba(0, 255, 0, 0.35) calc(50% - 9px),
        rgba(0, 255, 0, 0.35) 100%
      );
      transition: all 120ms ease-in-out 0s;
      background-size: 100% 200%;
      text-align: center;
    }
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  [type="text"] {
    margin-bottom: 4px;
    padding-left: 6px;
    background-color: -internal-light-dark(#f7f3f3, rgb(59, 59, 59));
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  }
  [type="submit"] {
    background-color: -internal-light-dark(#f7f3f3, rgb(59, 59, 59)) !important;
  }
}
